/* Global Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/* Section IDs hidden by default - later shown by jquery */

#timer, #feedback, #quiz, #score, #save-score, #highscores {
    display: none;
}

main {
    padding: 10px;
    width: 400px;
}

button, #start, input#submit {
    background-color: navy;
    border-color: white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

button:hover, #start:hover, input#submit:hover {
    background-color: violet;
}

#timer {
    align-items: right;
    align-content: right;
}

input#initials {
    padding: 10px;
}

#highscores h2 {
    margin-top: 20px;
}

td, tr {
    padding: 10px;
}

#feedback {
    margin-top: 20px;
}