/* Global Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

aside#timer {
    display: none;
}

aside#feedback {
    display: none;
}

#quiz {
    display: none;
}